<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Creative taco truck name to come</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../public/assets/js/java.js"></script>

</head>

<body>
    {{{ body }}}
</body>

</html>