<div class="container">
    <div class="row">
        <h1>tacos</h1>
    </div>
    <div class="row">
        <div class="col-m-3">
            <h2>tacos that are not picked up.</h2>
            <ul>
                {{#each tacos}}
                {{#unless picked_up}}
                {{> tacos/taco-block picked_up=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-m-6">

            <h2>create a taco</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="ca">taco:</label>
                    <input type="text" id="taconame" name="name">
                </div>

                <div class="form-group">
                    <label for="sleepy">shell?</label><br>
                    <input type="radio" name="shell" class="shell" value="1" checked> hard!<br>
                    <input type="radio" name="shell" class="shell" value="0"> soft
                </div>

                <div class="form-group">
                    <label for="sleepy">vegetarian: </label><br>
                    <input type="radio" name="vegetarian" class="vegetarian" value="1" checked> true!<br>
                    <input type="radio" name="vegetarian" class="vegetarian" value="0"> false
                </div>
                <div class="form-group">
                    <label for="picked_up">have you somehow already grabbed ya taco?: </label><br>
                    <input type="radio" name="pickedup" class="pickedup" value="0"> No sir sure didn't
                </div>

                <button type="submit" id="submitButton">Add ya taco </button>
            </form>
        </div>
        <div class="col-m-3">
            <h2> tacos that are picked up! Enjoy</h2>
            <ul>
                {{#each tacos}}
                {{#if picked_up}}
                {{> tacos/taco-block picked_up=true}}
                {{/if}}
                {{/each}}
            </ul>
            <script>
                $(function () {

                    console.log('java running')
                    $("#submitButton").on("click", function (event) {
                        event.preventDefault();
                        console.log("it worked");
                        const newTaco = {
                            taco_name: $("#taconame").val().trim(),
                            shell: $(".shell").val(),
                            vegetarian: $(".vegetarian").val(),
                            picked_up: $(".pickedup").val(),
                        };
                        console.log(newTaco);
                        $.ajax("/api/tacos/", {
                            type: "POST",
                            data: newTaco
                        }).then(function () {
                            console.log("you added a taco!");
                            console.log(newTaco);
                            location.reload();
                        })
                    });

                    {
                        {
                            !--$(".tacoGrab").on("click", function (event) {
                                event.preventDefault();
                                console.log("it grabbed");
                                //update route picked_up to false
                                var id = $(this).data("id");
                                var pickedUp = ($(this).data("pickedup"));
                                console.log('weird')
                                const nowGrabbed = {
                                    pickedup: true
                                };
                                console.log('ajax incoming')
                                $.ajax("api/tacos/" + id, {
                                    type: "PUT",
                                    data: nowGrabbed
                                }).then(function () {
                                    console.log('aaaye the ajax ran!!')
                                });
                            });
                            $(".tacoEat").on("click", function (event) {
                                event.preventDefault();
                                console.log("it was eaten");
                                const id = $(this).data("id")
                                $.ajax({
                                    url: "/api/tacos" + id,
                                    type: "DELETE",
                                    success: function (result) {
                                        console.log('fuck yeah')
                                    }
                                });
                            }); --}
                    }
                });
            </script>
        </div>
    </div>
</div>
</div>
</div>